/*----- PC‚ÌCSS -----*/
.about-date{
	color: red;
	font-size: x-large;
	font-weight: bold;
}
.momoka-txt{
	float:right;
}

/*----- Tab‚ÌCSS -----*/
@media screen and (max-width:960px){
	
}
/*----- Smp‚ÌCSS -----*/
@media screen and (max-width:640px){

}
