/*----- PC‚ÌCSS -----*/
footer{
	width: 100%;
	margin-top: 30px;
	border-top: solid 3px #8DC21F;
	border-bottom: solid 3px #8DC21F;
}

.twitter_share_button{
	display: block;
	float: left;
	margin-top: 10px;
	margin-left: 45%;
}
.face_share_button{
	display: block;
	float: left;
	margin-top: 10px;
	margin-left: 5px;
}

.copy_right{
	color: #5D8705;
	text-align: center;
}
.copy_right p{
	font-family: 'Noto Sans Japanese', sans-serif;
	margin: 8px;
}

.smp_searchform{
	display:none;
}

/*----- Tab‚ÌCSS -----*/
@media screen and (max-width:960px){
		
}
/*----- Smp‚ÌCSS -----*/
@media screen and (max-width:640px){
	.twitter_share_button{
		margin-left: 30%;
	}

	.smp_searchform{
		margin-left: 12%;
		display: block;
	}
	.smp_searchform .search_field{
		width:60%;
		margin-top: 7px;
		margin-right: 3px;
		border: solid 2px #8DC21F;
		background: #CDEB8E;
		border-radius: 5px 5px 5px 5px / 5px 5px 5px 5px;
		float: left;
	}
	.smp_searchform .search_button{
		width: 20%;
		float: left;
		font-weight: bold;
		padding: 2px;
		border:solid 2px #8DC21F;
		background: #CDEB8E;
		color: #5D8705;
		margin-top: 6px;
		border-radius: 5px 5px 5px 5px / 5px 5px 5px 5px;
	}
	.smp_searchform .search_button:hover{
		background: #8DC21F;
		color:#fff;
	}
}
