/*----- PCのCSS -----*/
/*-- トップイメージ --*/
.top_img_pc{
	width: 100%;
	border-bottom: solid 3px #CDEB8E;
}
.top_img_smp{
	display: none;
}

/*-- トップスロット --*/
.top_slot img{
	border-bottom: solid 3px #CDEB8E;
	width: 25%;
	float: left;
	overflow: hidden;
}

/*-- インフォスロット --*/
.info_slot{
	background: #CDEB8E;
	border: solid 3px #8DC21F;
	text-align: center;
	width: 20%;
	margin-left: 1%;
	margin-right: 2%;
	margin-bottom: 20px;
	float: left;
}
.info_slot a{
	text-decoration: none;
	color: #5D8705;
}

/*-- イベントスロット --*/
.event_slot{
	border: solid 3px #8DC21F;
	width: 20%;
	margin-left: 1%;
	margin-right: 2%;
	margin-bottom: 20px;
	float: left;
}
.event_slot img{
	width: 100%;
	overflow: hidden;
}

/*-- moreボタン --*/
#top_more_button{
	margin-right: 5%;
}

/*-- twitter_timeline --*/
.twitter_timeline{
	display: block;
	float: left;
	margin-left: 23%;
}
.top_twi_meta{
	margin-left: 23%;
}

/*----- TabのCSS -----*/
@media screen and (max-width:960px){
	/*-- twitter_timeline --*/
	.twitter_timeline{
		display: block;
		float: left;
		margin-left: 17%;
	}
	.top_twi_meta{
		margin-left: 17%;
	}
	
}
/*----- SmpのCSS -----*/
@media screen and (max-width:640px){
	/*-- トップイメージ --*/
	.top_img_pc{
		display: none;
	}
	.top_img_smp{
		border-bottom: solid 3px #CDEB8E;
		display: block;
		width:100%;
	}
	
	/*-- トップスロット --*/
	.top_slot img{
		width: 100%;
		overflow: hidden;
	}
	
	/*-- インフォスロット --*/
	.info_slot{
		width: 100%;
		margin-left: 0;
		margin-right: 0;
	}
	
	/*-- イベントスロット --*/
	.event_slot{
		width: 100%;
		margin-left: 0;
		margin-right: 0;
	}

	/*-- twitter_timeline --*/
	.twitter_timeline{
		display: block;
		float: left;
		width: 100%;
		margin-left: 0;
	}
	.top_twi_meta{
		margin-left:0;
		text-align: center;
	}
}
