/*----- PCのCSS -----*/
/*-- トップイメージ --*/
.top_img_pc{
	width: 100%;
	border-bottom: solid 3px #B5E8B0;
}
.top_img_smp{
	display: none;
}

/*-- トップスロット --*/
.top_slot img{
	border-bottom: solid 3px #B5E8B0;
	width: 25%;
	float: left;
	overflow: hidden;
}

/*-- インフォスロット --*/
.info_slot{
	background: #B5E8B0;
	border: solid 3px #80E20B;
	text-align: center;
	width: 21%;
	margin-left: 1%;
	margin-right: 2%;
	margin-bottom: 20px;
	float: left;
}
.info_slot a{
	text-decoration: none;
	color: #000000;
}

/*-- イベントスロット --*/
.event_slot{
	border: solid 3px #B5E8B0;
	width: 21%;
	margin-left: 1%;
	margin-right: 2%;
	margin-bottom: 20px;
	float: left;
}
.event_slot img{
	width: 100%;
	overflow: hidden;
}

/*-- moreボタン --*/
#top_more_button{
	margin-right: 5%;
}

/*----- TabのCSS -----*/
@media screen and (max-width:960px){
	
}
/*----- SmpのCSS -----*/
@media screen and (max-width:640px){
	/*-- トップイメージ --*/
	.top_img_pc{
		display: none;
	}
	.top_img_smp{
		border-bottom: solid 3px #B5E8B0;
		display: block;
		width:100%;
	}
	
	/*-- トップスロット --*/
	.top_slot img{
		width: 100%;
		overflow: hidden;
	}
	
	/*-- インフォスロット --*/
	.info_slot{
		width: 100%;
		margin-left: 0;
		margin-right: 0;
	}
	
	/*-- イベントスロット --*/
	.event_slot{
		width: 100%;
		margin-left: 0;
		margin-right: 0;
	}
	
	
}
