/*----- PC‚ÌCSS -----*/
.link-list li{
	list-style:none;
	line-height:1.4
	font-family: 'Noto Sans Japanese', sans-serif;
}
/*----- Tab‚ÌCSS -----*/
@media screen and (max-width:960px){
	
}
/*----- Smp‚ÌCSS -----*/
@media screen and (max-width:640px){

}
