/*----- PC‚ÌCSS -----*/
.post{
	width: 40%;
	padding-left: 20px;
	padding-right: 30px;
	border: solid 2px #8DC21F;
	margin: 20px;
	float: left;
	background: #CDEB8E;
}
.post a{
	text-decoration: none;
	color: #000;
}
.post a:visited{
	color: #000;
}
.post-title{
	margin-top: 0;
	width: 92%;
}

.post-meta{
	text-align: left;
}
.event-post-meta{
	display: block;
	float: right;
}
.post-thumbnail img{
	margin-bottom: 20px;
	margin-right: 20px;
	float: left;
}

/*----- Tab‚ÌCSS -----*/
@media screen and (max-width:960px){
	.post{
		width: 90%;
		margin: 0 auto;
		margin-top: 20px;
	}
}
/*----- Smp‚ÌCSS -----*/
@media screen and (max-width:640px){
	.event-post-meta{
		clear: both;
		width: 100%;
	}
	.post-thumbnail img{
		clear: both;
		margin-bottom: 20px;
		margin-left: 20%;
		text-align: center;
	}
}
